.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.MuiContainer-root {
  max-width: none !important;
  width: 100% !important;
}

.css-imxc6v-MuiBadge-badge{
  margin-right: 20px;
}

.makeStyles-submitButton-10{
  background-color: #2c3e50;
}

form .MuiButton-containedPrimary {
  background-color: #2c3e50;
}

div .MuiButton-containedPrimary {
  background-color: #2c3e50;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.MuiModal-root .MuiBox-root{
  width: 100%
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
